.navbar{
    display: flex;
    justify-content: space-between;
    height: 74px;
    box-shadow: 0 0 1px #b3b3b3;
    .navbar-brand{
        height: 100%;
    }
    .navbar-actions{
        height: 100%;
    }
}