.footer{
    background: #1B1B1B;
    text-align: center;
    padding:30px;

    hr{
        border-color: #393939;
    }
    .madewithlove{
        color:#fff;
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        
        color: #FFFFFF;
    }
}